{% extends "base_restricted.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<form action="{% url 'add_album'%}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    <legend>Genre:</legend>
    
    {% for i in genres%}
    <div>
        <input type="checkbox" id="{{i.name}}" name="{{i.name}}" checked />
        <label for="{{i.name}}">{{i.name}}</label>
      </div>
    {%endfor%}

  </fieldset>
  {{form}}
  <input type="hidden" name="user_id" value="{{request.user.id}}">
  <button type="submit">Submit</button>
</form>
{% endblock %}