{% extends "base_partial.html" %}

{% block title %}Add album{% endblock %}

{% block content %}
<div style="padding-left:16px" >
<form action="{% url 'add_review'%}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form}}
  <br>Текст:
  <br>
  <input type="textarea" name="body" style="font-size:14pt;  height: 200px;"/>
  <input type="hidden" name="user_id" value="{{request.user.id}}">
  <input type="hidden" name="album_id" value="{{album_id}}">
  <br>
  <button type="submit">Submit</button>
</form>
</div>
{% endblock %}