{% extends "base.html" %}

{% block title %}Артист{% endblock %}

{% block content %}
<fieldset style="margin-left: 1%; margin-top: 1%; margin-bottom: 1%; margin-right: 1%;">

    <form action="{% url 'get_picture' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="link-button" value="Фото" style="cursor: pointer; font-size: 20px;text-decoration: underline; color: #069;background: none!important; padding: 0!important;  border: none; font-family: arial, sans-serif;"/>
        <input type="hidden" name="artist_id" value="{{artist_id}}" />
    </form>

    {% load has_group %}
        {% if request.user|has_group:"Admins" %} 
    <form action="{% url 'delete_artist' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить исполнителя" style="margin-left: 35%;">
        <input type="hidden" name="artist_id" value="{{artist_id}}" />
    </form> 
        {% endif %}
        {% if request.user|has_group:"Partial" %} 
    <br>
    {% if request.user.id in fans%}
        Вы подписаны
    {% else %}
        <form action="{% url 'add_to_favorites'%}" method="post">
            {% csrf_token %}
            <input type="submit" class="link-button" value="Подписаться" /> 
            <input type="hidden" name="artist_id" value="{{artist_id}}" />
            <input type="hidden" name="user_id" value="{{request.user.id}}" />
        </form>
    {% endif %}
    {% endif %}
    <br>
    <br>{{artist.0}}
    <br>
    <br>Альбомы:
    {% for album in albums %}

        <form action="{% url 'album_page'%}" method="post">
            {% csrf_token %}
            <br><input type="submit" class="link-button" value="{{album}}" style="cursor: pointer;font-size: 20px; text-decoration: underline; color: #069;background: none!important; padding: 0!important;  border: none; font-family: arial, sans-serif;" />
            <input type="hidden" name="album" value="{{album}}" >
        </form>

    {% endfor %}
</fieldset>

{% endblock %}