{% extends "base_partial.html" %}

{% block title %}Коллекция{% endblock %}

{% block content %}
<div style="margin-left: 3%; margin-top: 3%;">
    Альбомы:
    {% for album in albums %}
    <br><form action="{% url 'album_page'%}" method="post">
        {% csrf_token %}
        <br><input type="submit" class="link-button" value="{{album}}" style="cursor: pointer;font-size: 20px; text-decoration: underline; color: #069;background: none!important; padding: 0!important;  border: none; font-family: arial, sans-serif;" />
        <input type="hidden" name="album" value="{{album}}" >
    </form>
    {% endfor %}

</div>
{% endblock %}