{% extends "base_partial.html" %}

{% block title %}Плейлисты{% endblock %}

{% block content %}

Ваши плейлисты:

{% for p in playlists %}
<br>
<form action="{% url 'get_playlist' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="playlist" value="{{p.id}}"/>
    <button type="submit" style="cursor: pointer; text-decoration: underline;font-size: 20px; color: #069;background: none!important; padding: 0!important;  border: none; font-family: arial, sans-serif;"> {{p.name}}</button>
</form>

<form action="{% url 'add_songs_playlist' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="playlist" value="{{p.id}}"/>
    <input type="hidden" name="user_id" value="{{request.user.id}}"/>
    <button type="submit" > Добавить песни</button>
</form>
{% endfor %}

{% endblock %}